.bg-menu{
    background:#000000!important;
}

.title{
    padding:10px;
    font-weight: bolder!important;
}

.blorg{
    margin-right: 500px;
    width: 140px;
    cursor:pointer;
}

.cursor{
    color: white;
    cursor:pointer;
}

.logout{
    padding:10px;
    font-weight: bold!important;
    justify-content: flex-end;
}

.text-decorator-none{
    text-decoration: none;
}

.textow{
    font-family: 'MeltdownMF', sans-serif!important;
}

.size{
    justify-content: flex-end;
    height: 120px;
}

.home{
    height: 120px;
}