.titulo{
    color: black!important;
    text-align: center;
    font-weight:900!important;
}

.fundo{
    background: #82ffba;
    background: linear-gradient(90deg, #000000 45%, #ffffff 55%);
}

.texto{
    color:white!important;
    font-family: 'Righteous', cursive!important;
    font-weight:700!important;
    font-size: 40px!important;
}
.texto2{
    font-family: 'Righteous', cursive!important;
    color: black;
    font-weight:bolder!important;
    font-size: 35px;
}

.container{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255,0), black 100%),url(https://64.media.tumblr.com/12394688fb5af9cc29d1a52148e8dce6/tumblr_omoacaBi2S1v1wfzlo1_500.gifv);
    background-position: center;
    padding: 6%;
    justify-content: center!important;
    align-items: center!important;
}

.caixa{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255,0), black 99%);
}

.Botao{
    border-color: white!important;
    background-color: black!important; 
    color: white!important;
}

.Botao2{
    border-color: white!important;
    background-color: black!important; 
    color: white!important;
}

.botoes{
    display: inline-flex;
    flex-direction: row;
}

.fundo-branco{
    background-color: white!important;
}