.padding1{
    margin-top: 100px;
    margin-bottom: 100px;
}

.botao{
    background-color: black!important;
    position:relative!important;
}

.centro{
    justify-content: right!important;
}

.fnt{
    font-family: 'Righteous', cursive!important;
    font-weight: 900!important;
}