.container{
    margin-left: 100px;
    justify-content: center!important;
    align-items: center!important;
}

.textWhite{
    font-family: 'Righteous', cursive!important;
    color: #ffffff;
    font-weight: bolder!important;
}

.feedback{
    font-family: 'Righteous', cursive!important;
    color: white;
    font-size: 17px!important;
}

.icone{
    font-size: 35px!important;
    color: white;
}