.text-decorator-none{
    text-decoration: none;
}

.csBotao{
    border-color: white!important;
    background-color: #82ffba!important; 
    color: white!important;
}

.csBotao2{
    border-color: white!important;
    background-color: #ffff90!important; 
    color: white!important;
}